code {
  font-family: 'Fira Code' !important;
}

nav {
  li {
    list-style: none;
    float: left;
    margin-right: 1em;
  }
}

.left, .right {
  width: 40%;
  float: left;
  margin-right: 10%;
  text-align: center;
}

.social .fa {
  font-size: 6em;
}
